body{
background-color: #FCCB00;
}
section {
  min-height: 100vh;
}

h1{
  font-family: 'Amatic SC', cursive;
}

h2{
font-family: 'Open Sans', sans-serif;
}

h3{
font-family: 'Open Sans', sans-serif;
}


.centered-x-y {
  display: flex;
  align-items: center;
  justify-content: center;
    flex-wrap: wrap;
}

.centered-x {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.centered{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.picto {
  max-width: 600px;
  width : 30%;
  max-width: 400px;
}

.picto img {
  width: 100%;
}

.h1 {
  font-size: 400%;
}

.next {
display: block;
max-width: 50px;
width : 3%;
max-width: 200px;
position: relative;
}


#bee {
  display: block;
  max-width: 150px;
}

.bienvenue {
  background: url('../assets/images/home/slide03/fleurs.svg') top center no-repeat;
  background-size: cover;
}

            #camille{
            width: 27%;
            margin: inherit;
            margin-top: -2000px;
            margin-left: 900px;
            }

.texte-bienvenue{
  text-align: center;
}

.texte-bienvenue h1{
font-size: 700%;
}

.texte-bienvenue img{
  display: block;
  position: absolute;
  right: 20%;
  max-width: 300px;
  width: 20%;
  top: 450%;
}

#titre-slide03{
font-size: 600%;
}

.étapes{
display: flex;
flex-wrap: wrap;
flex-direction: row;
overflow: hidden;
flex-shrink: 0;
flex: 2 2 0;
}

.sais-tu-que h1{
  font-size: 530%;
}

.sais-tu-que h2{
  font-size: 130%;
  margin-top: -40px;
}

.etape-detail{
  text-align: center;
  margin: 50px;
  overflow: hidden;
  flex-shrink: 0;
  flex: 1 1 0;
}

.etape-detail h1{
  font-size: 450%;
}
.exception{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.départ {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.texte-depart {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
  font-size: 500%;
  white-space: nowrap;
  }

.bee-depart {

  display: block;
  max-width: 150px;
}
